/* styles.css */
  #page_2 {
    background-color:aquamarine;
  }

  #page_3, #page_4 {
    background-color:darksalmon;
  }

  .description {
    color: rgb(214, 22, 163);
  }
 
  .instructions1, .instructions2 , .instructions3 {
    padding : 10%;
    color: rgb(18, 36, 173);
    background-color: 009900;
    width: 40%;
    border: solid black;
  }

  div, h2, h3 {
    font-family: cursive;
  }

  body h1 {
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  ul {
    list-style-type:circle
  }