#page_1{
    background-color:rgb(23, 65, 57);
}

h1, h2, h3 {
    font-size:xx-large;
    text-align: center;
          background-color: #37d7c2;
          border: 10px solid rgb(119, 152, 159);
        #start
        width: 200px;
        height: 200px;
        animation: blinking 1s infinite;
      }

h2 {
    font-weight: 500;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    animation: blinker 5s linear infinite;
  }
  
  @keyframes blinker {
    60% {
      opacity: 0;
    }
  }

.link_a, .link_b, .link_c {
    font-family: fantasy;
    text-decoration: underline;
  }